github "Flipboard/FLAnimatedImage" ~> 1.0.12
github "ReactiveCocoa/ReactiveCocoa" == 4.2.2
github "johnsundell/unbox" ~> 1.8
github "evgeniyd/Nuke" "Swift_2_3"
github "evgeniyd/Nuke-AnimatedImage-Plugin" "Swift_2_3"